
<h4>Registeration</h4>

<div ng-show="loading">
  TODO loading animation.
</div>

<div ng-hide="loading">

  {{ErrorMessage}}

  <br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="regusername">Username</label>
          <input type="text" class="form-control" id="regusername" ng-model="username" ng-disabled="submitting">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="******" ng-model="password" ng-disabled="submitting">
          {{passMessage}}
        </div>


        <div class="form-group">
          <label for="regname">Name</label>
          <input type="text" class="form-control" id="regname" ng-model="name" ng-disabled="submitting">
        </div>

        <div class="form-group">
          <label for="regname">Surname</label>
          <input type="text" class="form-control" id="regsurname" ng-model="surname" ng-disabled="submitting">
        </div>

        <div class="form-group">
          <label for="typeselect">Type</label>
          <select class="form-control" ng-options="type.text for type in types" ng-model="type" ng-disabled="submitting"></select>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="regphone">Phone</label>
          <input type="number" class="form-control" id="regphone" ng-model="phone" ng-disabled="submitting">
        </div>

        <div class="form-group">
          <label for="regdoor">Door</label>
          <input type="text" class="form-control" id="regdoor" ng-model="door" ng-disabled="submitting">
        </div>

        <div class="form-group">
          <label for="regstreet">Street</label>
          <input type="text" class="form-control" id="regstreet" ng-model="street" ng-disabled="submitting">
        </div>

        <div class="form-group">
          <label for="regcity">City</label>
          <input type="text" class="form-control" id="regcity" ng-model="city" ng-disabled="submitting">
        </div>

        <div class="form-group">
          <label for="typeselect">District</label>
          <select class="form-control" ng-options="item for item in districts" ng-model="district" ng-disabled="submitting"></select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <br>
        <div class="form-group">
          <button ng-click="submit();" class="btn btn-default btn-block" ng-disabled="submitting || !areValuesValid()">Register</button>
        </div>
      </div>
    </div>
  </div>

</div>
